.comments{
    margin-top: 5%;
    margin-left: 20px;
}


.comment{
    border: 2px solid var(--green);
    background-color: whitesmoke;
    justify-content: center;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.comment h4,.comment span,.darker h4,.darker span{
    display: inline;
}

.comment p,.comment span,.darker p,.darker span{
    color: black;
}

h1,h4{
    color: black;
    font-weight: bold;
}