.box {
    background-color: #d3d3d3;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box i {
    color: var(--white);
}

.box p {
    font-weight: 600;
    color: var(--white);
}

.icon::before {
    font-size: 1.5rem;
}

.box:first-of-type {
    background-color: #71b406;
}

.box:nth-child(2) {
    background-color: #ea641d;
}

.box:nth-child(3) {
    background-color: #7808ff;
}

/* TABLES */
.table-responsive {
    background-color: var(--white);
    padding: 2rem 2rem;

    border: var(--border);
    border-radius: 20px;
    box-shadow: var(--boxShadowTable);
    /* padding: 40px 30px 30px; */
}

.table {
    margin-bottom: 0;
}

.actions a{
    padding: 0px 3px;
}

.actions a:first-of-type {
    color: var(--green);
}

.actions a:nth-child(2) {
    color: var(--orange);
}

.actions a:last-child {
    color: var(--purple);
}