@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --mainFont: 'Inter', sans-serif;
    --white: #fff;
    --gray: #f8f8f8;
    --darkGray: #818181;
    --black: #121212;
    /* Main color */
    --green: #71b406;
    --purple: #7808ff;
    --orange: #ea641d;
    --yellow: #e8ca04;
   
    --border: 1px solid #c4c4c4;
    --boxShadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --boxShadowTable: rgba(0, 0, 0, 0.014) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

*, body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: var(--mainFont);
    height: 100%;
    margin: 0;
}

.msg {
    background-color: #ffc0c0;
    border-radius: 5px;
    text-align: center;
    font-weight: 200;
    font-size: 0.9rem;
    font-style: italic;
    color: #db0e0e;
}

.msgOk {
    background-color: #c0ffc0;
    border-radius: 5px;
    text-align: center;
    font-weight: 200;
    font-size: 0.9rem;
    font-style: italic;
    color: #056103;
}

#wrapper {
    min-height: 100vh;
    background-color: var(--gray);
    height: 100%;
    margin: 0;
    padding-top: 5rem;
}

.btnRed {
    border: 1px solid var(--orange);
    background-color: var(--orange);
    font-size: 0.9rem;
    padding: 2px 5px;
}

.btnRed:hover {
    border: 1px solid var(--orange);
    background-color: #d35b1b;
}

.btnGreen {
    border: 1px solid var(--green);
    background-color: var(--green);
    font-size: 0.9rem;
    padding: 2px 5px;
}

.btnGreen:hover {
    border: 1px solid var(--green);
    background-color: #629b05;
}

.btn:focus {
    box-shadow: none;
}


/* Cart CSS and its number */
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
background-color: #c67605;
}

#lblCartCount {
    font-size: 0.8rem;
    background: transparent;
    color: var(--black);
    padding: 0 5px;
    vertical-align: top;
    margin-left: -7px; 
}
/* End of cart */